[submodule "surf"]
    path = "surf"
    url = https://git.suckless.org/surf
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "st"]
	path = st
    url = https://github.com/LukeSmithxyz/st.git
[submodule "Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim 
[submodule "rofi-menus"]
	path = rofi-menus
	url = https://gitlab.com/vahnrr/rofi-menus
#[submodule "vim/bundle/YCM-Generator"]
#    path = vim/bundle/YCM-Generator
#    url = https://github.com/rdnetto/YCM-Generator
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/ultisnips"]
    path = vim/bundle/ultisnips
    url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/vim-snippets"]
    path = vim/bundle/vim-snippets
    url = https://github.com/honza/vim-snippets
[submodule "vim/bundle/vim-easy-align"]
    path = vim/bundle/vim-easy-align
    url = https://github.com/junegunn/vim-easy-align
[submodule "vim/bundle/vim-markdown"]
    path = vim/bundle/vim-markdown
    url = https://github.com/gabrielelana/vim-markdown
[submodule "vim/bundle/indentpython.vim"]
    path = vim/bundle/indentpython.vim
    url = https://github.com/vim-scripts/indentpython.vim
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
